section {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 90px;
}

#profile-photo {
    width: 210px;
}

#my-description {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

#roles,
.text-description,
.film-link,
.film-info {
    font-family: 'Barlow', sans-serif;
}

#roles {
    font-size: 1.4rem;
}

#my-description h1 {
    font-size: 5.4rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.text-description {
    font-size: 1.2rem;
    font-weight: 200;
}

.film {
    display: flex;
    gap: 105px;
    margin-bottom: 155px;
    align-items: center;
}

.film-img {
    max-width: 720px;
    height: auto;
}

.film-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.film-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}

.big-name {
    font-size: 2rem;
}

.film-info {
    font-weight: lighter;
    font-size: 23px;
    margin-bottom: 1.5rem;
}

.film-description {
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 1.5rem;
}

.film-link {
    color: #E53718;
    border: 1px solid #E53718;
    border-radius: 32px;
    padding: 10px 22px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.4s;
}

.film-link:hover {
    background-color: #E53718;
    color: #000;
}
