header {
    margin-bottom: 2.18rem;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: inherit;
}

#logo-pinaculo {
    width: 135px;
}

.nav-links {
    display: flex;
    gap: 4rem; 
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-link {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    transition: 0.4s;
}

.nav-link:hover {
    color: #E53718;
}

footer .nav-links {
    justify-content: flex-end;
    border-top: 1px solid white;
    padding: 20px;
}

@media screen and (max-width: 660px){
    header {
        margin-bottom: 1.5rem;
    }
    
    #logo-pinaculo {
        width: 120px;
    }

    .nav-links {
        gap: 2.5rem;
    }
    
    .nav-link {
        font-size: 1.375rem;
    }

    footer .nav-links {
        padding: 14px;
    }
}

@media screen and (max-width: 400px) {
    .nav-links {
        gap: 1.5rem;
    }
}

@media screen and (max-width: 370px) {
    header {
        text-align: center;
    }

    #header-content {
        display: block;
    }

    #logo-pinaculo {
        width: 100px;
    }

    header .nav-links {
        display: block;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    footer .nav-links {
        justify-content: center;
    }
}
